.container{
    width: 100%;
    margin: auto;
    /* height: 100vh; */
    background-color: black;
    background-image: linear-gradient(to right, black , rgb(124, 121, 121));
    
    
}
.heading{ 
    color: rgb(250, 250, 250);

}
.border{
    
    padding: 2%;
    
}