.container{

    display: flex;
    justify-content: space-around;
    height: 50px;
    width: 100%;
    align-items:center;
    background-color: #f1cf69;
    
    font-weight: bold;
    /* position: fixed; */
    /* border: 1px solid red; */
    margin-top: 0px;
    
    
    
}
.fixed_color{
    background-color: #f1cf69;
}

.container>a{
    text-decoration: none;
    color: black;
}
