.container{
    padding: 2%;
    /* border: 1px solid red; */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.title{
    font-weight: bold;
    color: rgb(70, 187, 47); 
}
.category{
font-weight: bold;
color: rgb(72, 25, 212);
}

.price{
display: flex;
justify-content: space-between;
}
.bestprice{
    text-decoration: line-through;
}
.actualprice{
font-weight: bold;
}

.discount{
    font-weight: bold;
    color: rgb(255, 145, 0);
}
.done{
color: green;
}
.add{
    color: rgb(255, 145, 0);
}