.container{
    
    border: 1px solid white;
    margin-top: 80px;
    padding: 10px;
}
.imagediv{
    border: 10px solid white;
    width: 30%;
    margin: auto;
    /* height:30%; */
    position: absolute;
    margin: -5% 33%;
}
.heading{
    margin-top: 18%;
}
.content{
    
    color: white;
}